.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (max-width: 1080px) {
    gap: 10px;
  }
}

.search_text_content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
    font-size: large;

    @media (max-width: 1080px) {
      font-size: x-small;
    }
  }

  h2 {
    margin-top: -8px;

    font-size: 0.75rem;
    font-weight: 400;

    @media (max-width: 1080px) {
      font-size: 0.6rem;
    }
  }

  h1,
  h2 {
    text-align: center;
    color: var(--text-secondary);
  }
}
