.hero_card_container {
  display: flex;
  flex-direction: column;

  width: 120px;
  height: 160px;

  cursor: pointer;

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }

  @media (max-width: 424px) {
    width: 160px;
    height: 180px;
  }

  .hero_card_image {
    height: 120px;

    object-fit: cover;
    border-bottom: 2px solid red;

    @media (max-width: 424px) {
      height: 150px;
    }
  }

  .hero_card_content_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2px;
    height: 32px;

    p {
      font-size: small;
      font-weight: 600;
      word-wrap: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 14px;
    }

    .favorite_button {
      border: none;
      background-color: transparent;
      z-index: 10;
    }
  }
}
