.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-self: center;

  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0;
}

.footer {
  height: 40px;
  width: 100vw;
  place-self: center;
  background-color: var(--primary);
}
